@model IEnumerable<Projeto2.Models.ImageModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Imagens</h1>

<p>
    <a asp-action="Create">Crie uma nova Imagem</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Titulo
            </th>
            <th>
                Nome da Imagem
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImageName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ImageId">Editar Imagem</a> |
                <a asp-action="Details" asp-route-id="@item.ImageId">Descrição Imagem</a> |
                <a asp-action="Delete" asp-route-id="@item.ImageId">Deletar Imagem</a>
            </td>
        </tr>
}
    </tbody>
</table>
